<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Nodemon uploads</title>
</head>
<body>


    <h1>Uploads</h1>

    <!-- atenção ao uso do const e enctype -->
    <form method="post" enctype="multipart/form-data">

        <!-- atenção ao DOM (arquivo) -->
        <input type="file" name="arquivo">
        <button type="submit">Enviar</button>


    </form>


</body>
</html>